.about .about-block .sub-title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.promo .promo-block .item .text, .about .about-block .text {
  color: #727272;
  font-size: 16px;
  line-height: 26px;
  max-width: 320px;
}
@media (min-width: 768px) {
  .promo .promo-block .item .text, .about .about-block .text {
    max-width: 540px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #000000;
  background: #EEEFF1;
  font-size: 16px;
  line-height: 1.8;
  margin: 0;
  min-width: 320px;
}

.container {
  min-width: 320px;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: #EEEFF1;
}
@media (min-width: 768px) {
  .header {
    padding-top: 60px;
  }
}
.header .header-block {
  position: relative;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 40px;
  align-items: center;
  padding: 2%;
}
@media (min-width: 768px) {
  .header .header-block {
    grid-template-columns: 96px 1fr;
    grid-column-gap: 20px;
    padding: 0 10px;
    text-align: end;
  }
}
@media (min-width: 1024px) {
  .header .header-block {
    height: 80px;
  }
}
.header .header-block .menu-toggle {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  background: #34547A;
  padding: 3% 5%;
  color: #ffffff;
  width: 40px;
  height: 40px;
  order: 3;
}
.header .header-block .menu-toggle img {
  width: 30px;
  height: 30px;
  padding: 10%;
}
@media (min-width: 768px) {
  .header .header-block .menu-toggle {
    display: none;
  }
}
.header .header-block .menu-toggle:hover + .menu {
  display: block;
}
.header .header-block .menu {
  background: #34547A;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  max-width: 425px;
  display: none;
}
@media (min-width: 768px) {
  .header .header-block .menu {
    background: none;
    position: static;
    display: block;
    max-width: 100%;
  }
}
.header .header-block .menu a {
  color: #000000;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2% 10%;
}
@media (min-width: 768px) {
  .header .header-block .menu a {
    display: inline-block;
    padding: 1%;
    background: none;
  }
  .header .header-block .menu a:hover {
    color: #34547A;
  }
}
@media (min-width: 1024px) {
  .header .header-block .menu a {
    padding: 2%;
  }
}

.promo {
  padding: 60px 0;
}
.promo .promo-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 50px;
}
@media (min-width: 1024px) {
  .promo .promo-block {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
  }
}
.promo .promo-block .item {
  justify-self: center;
  align-self: center;
}
.promo .promo-block .item h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .promo .promo-block .item h1 {
    font-size: 72px;
  }
}
.promo .promo-block .item .text {
  padding-top: 40px;
}
.promo .promo-block .item .promo-block-btn {
  width: 160px;
  height: 50px;
  background: #34547A;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 2%;
  margin-top: 40px;
}
.promo .promo-block .item .promo-block-btn a {
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}

.about {
  background: #E5E5E5;
  padding: 60px 0;
  display: flex;
  justify-content: center;
}

.info {
  background: #34547A;
  padding: 60px 0;
}
.info .info-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
@media (min-width: 1024px) {
  .info .info-block {
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0;
  }
}
.info .info-block .item {
  justify-self: center;
  align-self: center;
}
.info .info-block .item .inner-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-column-gap: 20px;
  justify-self: center;
  align-self: center;
}
.info .info-block .item .inner-item img {
  justify-self: center;
  align-self: center;
}
.info .info-block .item .inner-item span {
  display: block;
  color: #ffffff;
  max-width: 80px;
}

.gallery {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
}
.gallery img {
  display: block;
  width: 100%;
  height: auto;
}
.gallery img:hover {
  background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url("../images/eye.svg");
}
@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

.partners {
  padding: 60px 0;
}
.partners .partners-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
.partners .partners-block img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 1024px) {
  .partners .partners-block {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  background: #34547A;
  padding: 30px 0;
}
.footer .footer-block {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  color: #ffffff;
}
.footer .footer-block span {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}
.footer .footer-block p {
  font-size: 13px;
  line-height: 21px;
}
@media (min-width: 1024px) {
  .footer .footer-block {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .footer .footer-block .social {
    justify-self: flex-end;
  }
}
