@import mixin

body
  font-family: $font
  color: $colorBlack
  background: $backgroundDefault
  font-size: $fontSize
  line-height: 1.8
  margin: 0
  min-width: 320px

.container
  min-width: 320px
  max-width: 1150px
  margin: 0 auto
  padding: 0 15px

.header
  background: $backgroundDefault
  +tablet
    padding-top: 60px
  .header-block
    position: relative
    color: $colorWhite
    display: grid
    grid-template-columns: 1fr 40px
    align-items: center
    padding: 2%
    +tablet
      grid-template-columns: 96px 1fr
      grid-column-gap: 20px
      padding: 0 10px
      text-align: end
    +desktop
      height: 80px
    .menu-toggle
      display: flex
      align-items: center
      justify-self: flex-end
      background: $background
      padding: 3% 5%
      color: $colorWhite
      width: 40px
      height: 40px
      order: 3
      img
        width: 30px
        height: 30px
        padding: 10%
      +tablet
        display: none
      &:hover + .menu
        display: block
    .menu
      background: $background
      position: absolute
      top: 100%
      right: 0
      width: 100%
      max-width: 425px
      display: none
      +tablet
        background: none
        position: static
        display: block
        max-width: 100%
      a
        color: $colorBlack
        display: block
        text-transform: uppercase
        text-decoration: none
        padding: 2% 10%
        +tablet
          display: inline-block
          padding: 1%
          background: none
          &:hover
            color: $background
        +desktop
          padding: 2%

.promo
  padding: 60px 0
  .promo-block
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 50px
    +desktop
      grid-template-columns: 1fr 1fr
      grid-column-gap: 100px
    .item
      justify-self: center
      align-self: center
      h1
        font-weight: 500
        font-size: 48px
        line-height: 79px
        letter-spacing: 0.05em
        margin: 0
        padding: 0
        +tablet
          font-size: 72px
      .text
        @extend %text
        padding-top: 40px
      .btn
        @extend %btn


.about
  background: $backgroundDefault2
  padding: 60px 0
  display: flex
  justify-content: center
  .about-block
    .sub-title
      @extend %sub-title
    .text
      @extend %text

.info
  background: $background
  padding: 60px 0
  .info-block
    display: grid
    grid-template-columns: 1fr 1fr
    grid-row-gap: 20px
    grid-column-gap: 20px
    +desktop
      grid-template-columns: repeat(6, 1fr)
      grid-column-gap: 0
    .item
      justify-self: center
      align-self: center
      .inner-item
        display: grid
        grid-template-columns: 50px 1fr
        grid-column-gap: 20px
        justify-self: center
        align-self: center
        img
          justify-self: center
          align-self: center
        span
          display: block
          color: $colorWhite
          max-width: 80px
.video
  padding: 60px 0
  .video-block
    display: flex
    justify-content: center
    flex-wrap: wrap
    flex-flow: column
    .sub-title
      @extend %sub-title
    .text
      @extend %text
      text-align: center
      margin: 0 auto
  .video-image
    position: relative
    margin-top: 20px
    img
      display: block
      width: 100%
      height: auto
    &::before
      content: ""
      position: absolute
      top: 40%
      left: 46%
      background-image: url("../images/play-button.svg")
      z-index: 10
      width: 100px
      height: 100px
.gallery
  margin-top: 20px
  display: grid
  grid-template-columns: 1fr
  img
    display: block
    width: 100%
    height: auto
    &:hover
      background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url("../images/eye.svg")
  +desktop
    grid-template-columns: repeat(4, 1fr)

.partners
  background: $backgroundDefault2
  padding: 60px 0
  .partners-block
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 20px
    grid-column-gap: 20px
    img
      display: block
      width: 100%
      height: auto
    +desktop
      grid-template-columns: repeat(4, 1fr)

.form
  padding: 60px 0
  .form-block
    display: flex
    justify-content: center
    flex-wrap: wrap
    flex-flow: column
    .sub-title
      @extend %sub-title
    .text
      @extend %text
      text-align: center
      margin: 0 auto
    .form-wrapper
      display: flex
      flex-flow: column
      margin-top: 30px
      +desktop
        max-width: 540px
        margin: 30px auto 0
      textarea
        background: $colorWhite
        border: none
        color: #5F5D5D
        padding: 20px 30px
      .input-wrapper
        display: grid
        grid-template-columns: 1fr
        grid-row-gap: 20px
        +desktop
          grid-template-columns: 1fr 1fr
          grid-column-gap: 20px
        input
          background: $colorWhite
          border: none
          padding: 20px 30px
          margin-bottom: 20px
      .btn
        @extend %btn
        margin: 30px auto 0



.footer
  background: $background
  padding: 30px 0
  .footer-block
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 20px
    grid-column-gap: 20px
    color: $colorWhite
    span
      font-weight: 500
      font-size: 21px
      line-height: 25px
    p
      font-size: 13px
      line-height: 21px
    +desktop
      grid-template-columns: 1fr 1fr
    .social
      +desktop
        justify-self: flex-end