@import mixin

body
  font-family: $font
  color: $colorBlack
  background: $backgroundDefault
  font-size: $fontSize
  line-height: 1.8
  margin: 0
  min-width: 320px

.container
  min-width: 320px
  max-width: 1150px
  margin: 0 auto
  padding: 0 15px

.header
  background: $backgroundDefault
  +tablet
    padding-top: 60px
  .header-block
    position: relative
    color: $colorWhite
    display: grid
    grid-template-columns: 1fr 40px
    align-items: center
    padding: 2%
    +tablet
      grid-template-columns: 96px 1fr
      grid-column-gap: 20px
      padding: 0 10px
      text-align: end
    +desktop
      height: 80px
    .menu-toggle
      display: flex
      align-items: center
      justify-self: flex-end
      background: $background
      padding: 3% 5%
      color: $colorWhite
      width: 40px
      height: 40px
      order: 3
      img
        width: 30px
        height: 30px
        padding: 10%
      +tablet
        display: none
      &:hover + .menu
        display: block
    .menu
      background: $background
      position: absolute
      top: 100%
      right: 0
      width: 100%
      max-width: 425px
      display: none
      +tablet
        background: none
        position: static
        display: block
        max-width: 100%
      a
        color: $colorBlack
        display: block
        text-transform: uppercase
        text-decoration: none
        padding: 2% 10%
        +tablet
          display: inline-block
          padding: 1%
          background: none
          &:hover
            color: $background
        +desktop
          padding: 2%

.promo
  padding: 150px 0
  .promo-block
    display: grid
    grid-template-columns: 1fr
    grid-row-gap: 50px
    +desktop
      grid-template-columns: 1fr 1fr
      grid-column-gap: 100px
    .item
      justify-self: center
      align-self: center
      h1
        font-weight: 500
        font-size: 48px
        line-height: 79px
        letter-spacing: 0.05em
        margin: 0
        padding: 0
        +tablet
          font-size: 72px
      p
        color: $colorDefault
        width: 320px
        padding-top: 40px
        +tablet
          width: 540px
      .promo-block-btn
        width: 160px
        height: 50px
        background: $background
        border: 1px solid $colorWhite
        box-sizing: border-box
        border-radius: 6px
        padding: 2%
        margin-top: 40px
        a
          color: $colorWhite
          display: block
          text-transform: uppercase
          text-decoration: none